.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #abd9e9;

  .chatbox {
    width: 1200px;
    height: 98vh;
    background-color: white;
    display: flex;
    overflow: hidden;
    border-bottom: 5px solid black;

    @media only screen and (max-width: 1600px) {
      height: 105vh;
    }

    @media only screen and (max-width: 420px) {
      height: 115vh;
    }

    @media only screen and (max-width: 361px) {
      height: 125vh;
    }

    .left {
      height: 100%;
      min-width: 250px;
      width: 300px;
      background-color: #3b3e49;
      display: flex;
      flex-direction: column;
      color: white;
      overflow-y: auto;

      @media only screen and (max-width: 420px) {
        min-width: 150px;
      }

      h4 {
        margin-top: 25px;
        align-self: center;
      }

      h6 {
        align-self: center;
      }

      .allUsers {
        margin: 25px 0px;

        @media only screen and (max-width: 420px) {
          margin: 0;
        }

        .users {
          color: white;
          padding: 0;
          margin: 20px 15px;
          display: flex;

          @media only screen and (max-width: 420px) {
            margin: 10px 5px;
          }

          .icon {
            font-size: 60px;
            @media only screen and (max-width: 420px) {
              display: none;
            }
          }

          span {
            font-size: 20px;
            margin-left: 20px;
          }
        }
      }
    }

    .right {
      background-color: #eff3f7;
      height: 100%;
      width: 900px;
      overflow: hidden;

      h4 {
        text-align: center;
        margin-top: 25px;
      }

      p {
        color: grey;
        text-align: center;
      }

      hr {
        height: 2px;
        background-color: black;
        width: 90%;
      }

      .messages {
        display: flex;
        flex-direction: column;
        height: 60vh;
        overflow-y: auto;
        background-color: white;
        scroll-behavior: smooth;

        .singleMessage {
          margin: 5px 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          p {
            text-align: justify;
            color: white;
            padding: 15px 20px;
            border-radius: 10px;
            white-space: pre-wrap;
          }
        }
      }

      .form {
        margin: 0px 15px;
        display: flex;
        flex-direction: column;
        justify-self: flex-end;

        textarea {
          min-height: 10vh;
          @media only screen and (max-width: 1600px) {
            min-height: 15vh;
          }
        }

        button {
          outline: none;
          margin-top: 10px;
        }
      }
    }
  }
}

.rightone {
  align-items: flex-end;
}

.leftone {
  align-items: flex-start;
}

.status {
  display: flex;
  flex-direction: column;

  .stat {
    font-size: 15px !important;

    .circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 7px;
      margin-left: 0 !important;
      background-color: #58b666;
    }

    .red {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 7px;
      margin-left: 0 !important;
      background-color: #ff725d;
    }
  }
}
