<!-- Default form login -->
<div class="form">
  <mdb-card class="form2">
    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Sign in</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
      <!-- Form -->
      <form  [formGroup]="signInForm" (ngSubmit)="sendData(signInForm.value)" class="text-center" style="color: #757575">
        <!-- Username -->
        <div class="md-form">
          <input
            type="text"
            id="materialLoginFormUsername"
            class="form-control"
            mdbInput
            formControlName="username"
          />
          <label for="materialLoginFormUsername">Username</label>
          <em
          *ngIf="
            signInForm.get('username').hasError('required') &&
            signInForm.get('username').touched
          "
          >Required</em
        >
        </div>

        <!-- Password -->
        <div class="md-form">
          <input
            type="password"
            id="materialLoginFormPassword"
            class="form-control"
            mdbInput
            formControlName="password"
          />
          <label for="materialLoginFormPassword">Password</label>
          <em
          *ngIf="
            signInForm.get('password').hasError('required') &&
            signInForm.get('password').touched
          "
          >Required</em
        >
        </div>

        <em *ngIf="message">{{message}}</em>
        <!-- Sign in button -->
        <button
          mdbBtn
          color="info"
          outline="true"
          rounded="true"
          block="true"
          class="my-4 waves-effect z-depth-0"
          mdbWavesEffect
          type="submit"
          [disabled] ="signInForm.invalid"
        >
          Sign in
        </button>

        <!-- Register -->
        <p>
          Not Registered ?
          <a routerLink="signin">Register</a>
        </p>

      </form>
      <!-- Form -->
    </mdb-card-body>
  </mdb-card>
</div>
<!-- Default form login -->
