.list-group {
  width: 50%;
}

a {
  cursor: default;
}

.bob {
  display: flex;
  align-items: center;
  height:90px;
}

.left {
  flex-grow: 1; 
}

.icon{
  font-size: 25px;
  cursor: pointer;
}

button{
  border:none;
  background-color: inherit;
  outline:none;
}

@media only screen and (max-width: 1000px) {
  .list-group {
    width: 80%;
  }
}
