<div class="form">
    <mdb-card>
      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Server must be dead</strong>
        </h5>
      </mdb-card-header>
  
      <mdb-card-body  class="px-lg-5 pt-0 errorBody">
        <h3 style="padding: 20px">Do you mind trying again soon ?</h3>
        <h3>You were unlucky</h3>
        <img class="errorimg" src="../../../../assets/DeadEmoji.jpg" />
        <button style="margin-top: 30px;"(click)="goBack()" type="button" mdbBtn mdbWavesEffect color="primary">
          Go Back
        </button>
      </mdb-card-body>
    </mdb-card>
  </div>
  