<app-spinner *ngIf="loading != false"></app-spinner>

<ng-container *ngIf="projects && loading == false">
  <table *ngIf="projects.length > 0" mdbTable>
    <thead>
      <tr style="text-align: center">
        <th class="id">ID</th>
        <th>Title</th>
        <th>Tasks</th>
        <th>Check</th>
        <th>Add Task</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody style="text-align: center">
      <tr mdbTableCol *ngFor="let el of projects; let index = index">
        <td class="id" scope="row">{{ el.id }}</td>
        <td>{{ el.title }}</td>
        <td>{{ el.tasks.length }}</td>
        <td>
          <button [routerLink]="[el.id]">
            <mdb-icon class="icon" fas icon="share"></mdb-icon>
          </button>
        </td>
        <td>
          <button style="cursor: default">
            <mdb-icon
              [routerLink]="[el.id, 'add']"
              class="icon"
              style="cursor: pointer"
              fas
              icon="plus-square"
            ></mdb-icon>
          </button>
        </td>
        <td>
          <button (click)="basicModal.show()">
            <mdb-icon class="icon" fas icon="trash"></mdb-icon>
          </button>
          <div
            mdbModal
            #basicModal="mdbModal"
            class="modal fade"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myBasicModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="close pull-right"
                    aria-label="Close"
                    (click)="basicModal.hide()"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4
                    style="color: black"
                    class="modal-title w-100"
                    id="myModalLabel"
                  >
                    Are you sure ?
                  </h4>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    mdbBtn
                    color="secondary"
                    class="waves-light"
                    aria-label="Close"
                    (click)="basicModal.hide()"
                    mdbWavesEffect
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    mdbBtn
                    color="primary"
                    class="relative waves-light"
                    mdbWavesEffect
                    (click)="deleteProject(el)"
                  >
                    Yes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="projects.length > 0" style="text-align: center">
    <button
      class="special"
      mdbBtn
      type="button"
      color="secondary"
      rounded="true"
      mdbWavesEffect
      routerLink="add"
    >
      Add Project
    </button>
  </div>
</ng-container>

<ng-container *ngIf="projects">
  <div *ngIf="projects.length == 0 && loading == false" class="form">
    <mdb-card>
      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>No Project !</strong>
        </h5>
      </mdb-card-header>

      <mdb-card-body class="px-lg-5 pt-0 errorBody">
        <h3 style="padding: 20px">Nothing to do ! (for now)</h3>
        <h4 style="padding: 20px">
          There's no projects at the moment. You can add one if you want
        </h4>
        <img class="errorimg" src="../../../assets/thumbup.png" />
        <button
          style="margin-top: 30px"
          type="button"
          mdbBtn
          mdbWavesEffect
          color="primary"
          routerLink="add"
        >
          <a class="nav-link waves-light" style="color: white" mdbWavesEffect
            >Add project<span class="sr-only">(current)</span></a
          >
        </button>
      </mdb-card-body>
    </mdb-card>
  </div>
</ng-container>
