button {
  background-color: inherit;
  border: none;
  outline: none;
}

th {
  font-weight: bold;
}

.special {
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .id {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  table.table td,
  table.table th {
    padding: 0.75rem;
  }
}

@media only screen and (max-width: 380px) {
  table.table td,
  table.table th {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
