<app-spinner *ngIf="loading != false"></app-spinner>
<div class="form">
  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Assign User</strong>
      </h5>
    </mdb-card-header>

    <mdb-card-body class="px-lg-5 pt-0">
      <form
        [formGroup]="assignUser"
        (ngSubmit)="assign(assignUser.value)"
        class="text-center"
        style="color: #757575"
      >
        <div class="md-form">
          <input
            autofocus
            type="email"
            id="materialLoginFormEmail"
            class="form-control"
            mdbInput
            formControlName="user"
            (keyup)="searchUser()"
          />
          <label for="materialLoginFormEmail">User</label>
        </div>
        <em
          *ngIf="
            assignUser.get('user').hasError('required') &&
            assignUser.get('user').touched
          "
          style="padding-bottom: 10px"
          >Required</em
        >
        <em style="padding-bottom: 10px" *ngIf="error">User incorrect</em>
        <div *ngIf="filteredList">
          <div *ngIf="filteredList.length > 0" class="list-group">
            <button
              mdbBtn
              type="button"
              color="deep-purple"
              *ngFor="let el of filteredList"
              class="list-group-item waves-light"
              mdbWavesEffect
              (click)="select(el)"
            >
              {{ el.username | lowercase | titlecase }}
            </button>
          </div>
        </div>
        <button
          mdbBtn
          color="info"
          outline="true"
          rounded="true"
          block="true"
          class="my-4 waves-effect z-depth-0"
          mdbWavesEffect
          type="submit"
          [disabled]="assignUser.invalid || clicked"
        >
          Assign
        </button>
      </form>
    </mdb-card-body>
  </mdb-card>
</div>
