<!-- Material form login -->
<div class="form">
  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Edit Task</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
      <form
        *ngIf="EditTask"
        [formGroup]="EditTask"
        (ngSubmit)="sendTask(EditTask.value)"
        class="text-center"
        style="color: #757575"
      >
        <div class="md-form">
          <input
            type="email"
            id="materialLoginFormEmail"
            class="form-control"
            mdbInput
            formControlName="description"
          />
          <label for="materialLoginFormEmail">Task</label>
        </div>
        <em
          *ngIf="
            EditTask.get('description').hasError('required') &&
            EditTask.get('description').touched
          "
          >Required</em
        >
        <em
          *ngIf="
            EditTask.get('description').hasError('maxlength') &&
            EditTask.get('description').touched
          "
          >Too Long !
        </em>
        <button
          mdbBtn
          color="info"
          outline="true"
          rounded="true"
          block="true"
          class="my-4 waves-effect z-depth-0"
          mdbWavesEffect
          type="submit"
          [disabled]="EditTask.invalid"
        >
          Edit Task
        </button>
      </form>
    </mdb-card-body>
  </mdb-card>
</div>
