.list-group {
  width: 80%;
}

a {
  cursor: default;
}

.bob {
  display: flex;
  align-items: center;
  min-height: 130px;
}

.left {
  flex-grow: 1;
}

button {
  min-width: 20%;
  max-width: 20%;
  min-height: 50px;
  max-height: 50px;
}
