.tasks {
  text-align: center;
  margin: 3%;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.table {
  text-align: center;
}

button {
  background-color: inherit;
  border: none;
  outline: none;
}

.important {
  color: red;
}

.complete {
  text-decoration: line-through;
  color: black;
}

.special {
  width: 100%;
  margin: 0;
}

th {
  font-weight: bold;
  &::selection {
    outline: none;
  }
}

.mt-3 {
  text-align: center;
}

.importanceHead {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .importance {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .id {
    display: none;
  }
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

