<app-spinner *ngIf="loading != false"></app-spinner>

<div *ngIf="project" class="col-lg-4 col-md-12 mb-4 container">
  <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
    <img
      src="https://mdbootstrap.com/img/Photos/Others/project4.jpg"
      class="img-fluid"
      alt="Sample project image"
      style="cursor: default; width: 100%"
    />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <mdb-card-body class="mt-3">
    <h2 class="card-header-title title">{{ project.title }}</h2>
    <p class="grey-text" style="white-space: pre-line; padding: 5%">
      {{ project.description }}
    </p>
    <a
      routerLink="edit"
      mdbBtn
      color="indigo"
      size="sm"
      class="waves-light"
      mdbWavesEffect
    >
      <mdb-icon far icon="clone" class="left"></mdb-icon> Edit Project</a
    >
  </mdb-card-body>
</div>

<h3 *ngIf="loading == false" class="tasks">Tasks</h3>
<table class="table" *ngIf="project" mdbTable>
  <thead>
    <tr>
      <th class="id">ID</th>
      <th>Description</th>
      <th>Status</th>
      <th
        (click)="sortByImportance(project.tasks)"
        class="importance importanceHead"
      >
        Importance
      </th>
      <th>User</th>
      <th>Assign</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of project.tasks; let index = index">
      <td class="id" scope="row">
        {{ index + 1 }}
      </td>
      <td [ngClass]="{ important: el.importance, complete:el.status == 3 }" scope="row">
        {{ el.description }}
      </td>
      <td [ngSwitch]="el.status">
        <span *ngSwitchCase="0">Pending</span
        ><span *ngSwitchCase="1">Working</span
        ><span *ngSwitchCase="2">Reviewing</span
        ><span *ngSwitchCase="3">Completed</span>
        <span *ngSwitchDefault>Pending</span>
      </td>
      <td class="importance" style="text-align: center; padding-left: 40px">
        <mdb-checkbox
          (change)="importanceFlag(el)"
          [checked]="el.importance"
        ></mdb-checkbox>
      </td>
      <td>{{ el.user || "Not Assigned" }}</td>
      <td>
        <button [routerLink]="['tasks/', el.taskId]">
          <mdb-icon
            class="icon"
            fas
            size="lg"
            icon="caret-square-right"
          ></mdb-icon>
        </button>
      </td>
      <td>
        <button (click)="basicModal.show()">
          <mdb-icon class="icon" fas icon="trash"></mdb-icon>
        </button>
        <div
          mdbModal
          #basicModal="mdbModal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myBasicModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close pull-right"
                  aria-label="Close"
                  (click)="basicModal.hide()"
                >
                  <span aria-hidden="true">×</span>
                </button>
                <h4
                  style="color: black"
                  class="modal-title w-100"
                  id="myModalLabel"
                >
                  Are you sure ?
                </h4>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  mdbBtn
                  color="secondary"
                  class="waves-light"
                  aria-label="Close"
                  (click)="basicModal.hide()"
                  mdbWavesEffect
                >
                  Close
                </button>
                <button
                  type="button"
                  mdbBtn
                  color="primary"
                  class="relative waves-light"
                  mdbWavesEffect
                  (click)="deleteTask(el)"
                >
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="project" style="text-align: center">
  <button
    *ngIf="project.tasks.length == 0"
    style="cursor: default"
    class="special"
    mdbBtn
    type="button"
    gradient="peach"
    rounded="true"
    mdbWavesEffect
  >
    No Tasks
  </button>
</div>
<div style="text-align: center">
  <button
    class="special"
    mdbBtn
    type="button"
    color="light-blue"
    rounded="true"
    mdbWavesEffect
    routerLink="add"
  >
    Add Tasks
  </button>
</div>
