th::selection {
  outline: none;
}

.important {
  color: red;
}
.complete {
  .description {
    text-decoration: line-through;
    color: black;
  }
}

button {
  background-color: inherit;
  border:none;
  outline:none;
}