/* You can add global styles to this file, and also import other style files */

.body {
  background-color: #1f2426;
}

html {
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.form2 {
  width: 40%;
  background-color: white;
}

em {
  color: red;
  display: flex;
}

@media only screen and (max-width: 1400px) {
  .form2 {
    width: 80%;
  }
}

@media only screen and (max-width: 420px) {
  .form2 {
    width: 95%;
  }
  html {
    width: 105%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    width:140%;
  }
}

.errorimg {
  width: 25%;
}

.errorBody {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
