.table {
  background-color: white;
}

.important {
  color: red;
}
.complete{
    opacity: 0.4;
    color:black;
}

.icon{
    
}
button {
    background-color: inherit;
    border:none;
    outline:none;
}
