.table {
  background-color: white;
}
.important {
  color:red;
}
.complete{
    .description{
      text-decoration: line-through;
    }
background-color: lightgray;
}
button {
    background-color: inherit;
    border:none;
    outline:none;
}

th::selection{
  outline:none;
}
