a {
  cursor: default;
}

.list-group {
  width: 40%;
}

.info {
  color: white;
}

.bob {
  text-align: center;
}

strong {
  font-weight: bold;
}

.custom {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

