<!--Navbar-->
<mdb-navbar
  class="top"
  SideClass="navbar navbar-expand-lg navbar-dark indigo "
  [containerInside]="false"
>
  <!-- Navbar brand -->

  <mdb-navbar-brand
    ><a class="navbar-brand" style="color: white; cursor: default"
      >Management</a
    ></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <div class="list" *ngIf="authenticated | async">
      <input
        #input
        placeholder="Where to ?"
        (keyup)="searchValue(input.value)"
      />
      <ul *ngIf="toSearch.length > 0">
        <li *ngIf="isAdminObs | async">
          {{ toSearch[0] }}
        </li>
        <ng-container *ngIf="toSearch[1]">
          <li *ngIf="isAdminObs | async">{{ toSearch[1] }}</li>
        </ng-container>

        <li *ngIf="toSearch[2]">{{ toSearch[2] }}</li>
        <li *ngIf="toSearch[3]">{{ toSearch[3] }}</li>
        <li *ngIf="toSearch[4]">{{ toSearch[4] }}</li>
        <li *ngIf="toSearch[5]">{{ toSearch[5] }}</li>
      </ul>
    </div>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="!(authenticated | async)"
      >
        <a class="nav-link waves-light" routerLink="signin" mdbWavesEffect
          >Sign In<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="!(authenticated | async)"
      >
        <a class="nav-link waves-light" routerLink="register" mdbWavesEffect
          >Register<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="isAdminObs | async"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" routerLink="/projects" mdbWavesEffect
          >Manage<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="isAdminObs | async"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" routerLink="/users" mdbWavesEffect
          >Users<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" routerLink="assignTasks" mdbWavesEffect
          >Projects<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" routerLink="tasks" mdbWavesEffect
          >Tasks<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
      >
        <a class="nav-link waves-light" routerLink="profile" mdbWavesEffect
          >Profile<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
      >
        <a class="nav-link waves-light" routerLink="update" mdbWavesEffect
          >Update<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" *ngIf="authenticated | async">
        <a class="nav-link waves-light" (click)="logout()" mdbWavesEffect
          >Log Out</a
        >
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>

<!--/.Navbar-->
