<!--Navbar-->
<mdb-navbar
  class="top"
  SideClass="navbar navbar-expand-lg navbar-dark unique-color sticky-top"
  [containerInside]="false"
>
  <!-- Navbar brand -->

  <mdb-navbar-brand
    ><a class="navbar-brand" style="color: white; cursor: default"
      >Management</a
    ></mdb-navbar-brand
  >
  <mdb-navbar-brand
    ><a class="navbar-brand" *ngIf="isAdminObs | async" routerLink="/users"
      >Users</a
    ></mdb-navbar-brand
  >
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="!(authenticated | async)"
      >
        <a class="nav-link waves-light" routerLink="signin" mdbWavesEffect
          >Sign In<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="!(authenticated | async)"
      >
        <a class="nav-link waves-light" routerLink="register" mdbWavesEffect
          >Register<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" routerLink="projects" mdbWavesEffect
          >Projects<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" routerLink="tasks" mdbWavesEffect
          >Tasks<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
      >
        <a class="nav-link waves-light" routerLink="/tasks/add" mdbWavesEffect
          >Add<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
      >
        <a class="nav-link waves-light" routerLink="profile" mdbWavesEffect
          >Profile<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="authenticated | async"
      >
        <a class="nav-link waves-light" routerLink="update" mdbWavesEffect
          >Update<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" *ngIf="authenticated | async">
        <a class="nav-link waves-light" (click)="logout()" mdbWavesEffect
          >Log Out</a
        >
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>

<!--/.Navbar-->
